@page
@using HospiEnCasa.App.Dominio;
@model HospiEnCasa.App.Fontend.Pages.Medicos.CreateModel
@{
}
<h1>Nuevo medico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="medico.Nombre"></label>
        <input asp-for="medico.Nombre" class="form-control" placeholder="Pepito perez">
        <span class="text-danger" asp-validation-for="medico.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Apellidos"></label>
        <input asp-for="medico.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.NumeroTelefono"></label>
        <input asp-for="medico.NumeroTelefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.Genero"></label>
        <select asp-for="medico.Genero" asp-items="Html.GetEnumSelectList<Genero>()"class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="medico.Especialidad"></label>
        <input asp-for="medico.Especialidad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.Codigo"></label>
        <input asp-for="medico.Codigo" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.RegistroRethus"></label>
        <input asp-for="medico.RegistroRethus" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Crear medico</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>